* {
  box-sizing: border-box;
}

.copyright {
  opacity: .3;
  font-size: .4em !important;
  text-align: center;
}

.fa {
  font-family: 'FontAwesome' !important;
  font-style: normal !important;
}

.fa-3x {
  font-size: 3em !important;
}

img.plain {
  background: transparent !important;
}

code .line {
  display: block;
}

code .line.focus {
  background: #02671c;
}

a {
  cursor: pointer;
}

.supla-color {
  color: #00d151;
}

img.supla-bg {
  padding: 10px;
  background: #00d151 !important;
}

.fragment.current-visible.visible:not(.current-fragment) {
  display: none;
  height:0px;
  line-height: 0px;
  font-size: 0px;
}
